:root {
  --background: #0a0e14;
  --bg-dark: #0f1923;
  --foreground: #141920;
  --val-card-bg: #1f2933;
  --primary: #ff4655;
  --primary-dark: #a81f2d;
  --secondary: #c8aa6e;
  --secondary-dark: #bf8116;
  --text: #ece8e1;
  --shadow: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
}

html {
  background-color: var(--bg-dark);
}

body {
  background: radial-gradient(circle at center, #1f2933 0%, var(--bg-dark) 100%);
}
