.settingsWrapper {
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
  display: inline-block;
}

.settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 720px;
  padding: 15px 30px;
  background: var(--bg-dark);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  clip-path: polygon(
    20px 0,                /* Coin Haut-Gauche (début) */
    100% 0,                /* Coin Haut-Droit (carré) */
    100% calc(100% - 20px),/* Coin Bas-Droit (début coupe) */
    calc(100% - 20px) 100%,/* Coin Bas-Droit (fin coupe) */
    0 100%,                /* Coin Bas-Gauche (carré) */
    0 20px                 /* Coin Haut-Gauche (fin) */
  );
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.classeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.classes {
  width: 25px;
  height: 25px;
}

.divider {
  width: 1px;
  height: 25px;
  background-color: var(--text);
  opacity: 0.7;
}

.timeSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.durationText {
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--text);
  width: 205px;
}

.btnContainer {
  margin-top: 10px;
}

.btn {
  composes: valBtn from '/src/index.css';
}

.btn:hover {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
}

.btn.disabled {
  cursor: not-allowed;
  transform: none;
}

.btn.plus, .btn.less {
  padding: 2px 10px;
  background: linear-gradient(135deg, var(--primary) 0%, var(--primary-dark) 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 70%, 50% 100%, 0 100%, 0 30%);
}

.btn.plus:hover, .btn.less:hover {
  transform: scale(105%);
}

.btn.plus.disabled, .btn.less.disabled {
  background-color: var(--primary);
  transform: none;
}

.reloadBtn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.reloadBtn.disabled {
  cursor: not-allowed;
  transform: none;
}

.reloadIcon {
  color: var(--text);
  font-size: 25px;
  transform: rotateZ(-90deg);
  transition: 0.3s ease-in-out;
}

.reloadIcon:hover {
  transform: rotateZ(280deg) scale(110%);
}

.reloadIcon.disabled {
  opacity: 0.5;
  transform: none;
}

@media (max-width: 800px) {
  .settings {
    flex-direction: column;
    width: 350px;
  }

  .timeSettings {
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--text);
    opacity: 0.7;
  }

  .btn.plus, .btn.less {
    padding: 5px 10px;
    clip-path: polygon(10% 0, 100% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
  }

  .btn {
    width: 100%;
    font-size: 1rem;
    padding: 15px 10px;
  }
}

@media (max-width: 450px) {
  .settings {
    width: 200px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 10px;
  }
}
