.container {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--primary);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

.settingsWrapper {
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
  display: inline-block;
}

.settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 30px;
  background: var(--bg-dark);
  clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
}

.settings p {
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--text);
}

.btnContainer {
  margin-top: 10px;
}

.btn {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s ease-in-out;
  box-shadow: none;
  clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
}

.btn:hover {
  background-color: #ff2b3d;
  transform: translateY(-2px);
}

.btn.plus, .btn.less {
  padding: 2px 10px;
  clip-path: polygon(50% 0, 100% 0, 100% 70%, 50% 100%, 0 100%, 0 30%);
}

.btn.plus:hover, .btn.less:hover {
  transform: scale(105%);
}

.reloadBtn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.reloadBtn.disabled {
  cursor: not-allowed;
  transform: none;
}

.reloadIcon {
  color: var(--text);
  font-size: 25px;
  transform: rotateZ(-90deg);
  transition: 0.3s ease-in-out;
}

.reloadIcon:hover {
  transform: rotateZ(280deg) scale(110%);
}

.reloadIcon.disabled {
  opacity: 0.5;
}

.btn.disabled {
  background-color: #555;
  cursor: not-allowed;
  transform: none;
}

.resetWrapper {
  transition: 0.3s ease-in-out;
}

.resetWrapper:hover {
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
  display: inline-block;
}

.btn.reset {
  background-color: var(--text);
  color: var(--bg-dark);
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.historyTitle {
  font-size: clamp(2rem, 5vw, 2.8rem);
  color: var(--text);
}

.historyChips {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


@media (max-width: 1100px) {
  .historyChips {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 1.5em;
    gap: 20px;
  }

  .settings {
    flex-direction: column;
  }

  .btn.plus, .btn.less {
    padding: 5px 10px;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
  }

  .btn {
    width: 100%;
    font-size: 1rem;
    padding: 15px 10px;
  }
}
